@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Intro -->
<section id="intro" class="wrapper style1 fade-up">
    <div class="inner">
        <h1><span class="fa fa-shopping-cart"></span> Cart</h1>
        <p>Review of your <b>2</b> items</p>
        <section>
            <ul class="actions fit">
                <li>
                    <h3>SECURE TRANSACTION</h3>
                    <span>We use the latest SSL security technology to encrypt all personal information.</span>
                </li>
                <li>
                    <h3>ALWAYS FREE</h3>
                    <span>We do not belive in payment when it comes to book.</span>
                </li>
                <li>
                    <h3>WAITING LIST</h3>
                    <span>Receive automated email or text notification when the book is available.</span>
                </li>
            </ul>
            <hr />
            <table id="table" class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Harry Potter and the Sorcerer's Stone</td>
                        <td>J.K. Rowling</td>
                        <td>Available</td>
                        <td></td>
                        <td><span class="fa fa-times"></span></td>
                    </tr>
                    <tr>
                        <td>21 Days to Health</td>
                        <td>Maria Kelly</td>
                        <td>Waitlist</td>
                        <td></td>
                        <td><span class="fa fa-times"></span></td>
                    </tr>

                </tbody>
            </table>
        </section>
        <section>
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <h3>Estimation</h3>
                    <ul>
                        <li><span class="fa fa-clock-o"></span> Same day shipping</li>
                        <li><span class="fa fa-envelope-o"></span> Email notification</li>
                        <li><span class="fa fa-dollar"></span> FREE</li>
                    </ul>
                </div>
                <div class="6u 12u$(xsmall)">
                    <h3></h3>
                    <button style="float: right" class="special">Submit Order</button>
                </div>
            </div>            
        </section>

    </div>
</section>


