<h1>@ViewBag.Title</h1>

<div class="aliceparagraph">
    <h1>Team Member</h1>
    <p>1. Andre Ho<br />
        2. Michael Daigh<br /> 
        3. PatrickHovsepian<br />
        4. Son Nguyen<br />
        5. Suchartee Kitisopakul<br />
        6. Yathish Anandaraj<br />
        7. Akhil<br />
    </p>
</div>


