
<form method="post" action="index.html">
    <div class="box">
        <h1>TITANBRARY</h1>


        <input type="email" name="email1" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" size="20" />

        <input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />

        <a href="#"><div class="btn">Sign In</div></a> <!-- End Btn -->

        <a href="#"><div id="btn2">Sign Up</div></a> <!-- End Btn2 -->

    </div> <!-- End Box -->

</form>

<p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>