@model Titanbrary.Common.Models.UserInfoBookModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<!-- Dashboard -->
<section class="wrapper style3 fade-up">
    <div class="inner">
        <h2>Dashboard</h2>
        <div class="features" style="display: none">
            <section>
                <span class="icon major fa-book "></span>
                <h3>Users</h3>
                <p>Get ready to go on an adventure with some of the greatest heroes in literary history!</p>
                @Html.ActionLink("Create User", "CreateUser", "Home", new { @class = "button" });
            </section>
            <section>
                <span class="icon major fa-book"></span>
                <h3>Inventory</h3>
                <p>Looking for a laugh? or maybe two? Look no futher, check out our comedy selection.</p>
            </section>
            <section>
                <span class="icon major fa-book "></span>
                <h3>Genre</h3>
                <p>To be or not to be. That is the real story behind Titanbrary.</p>
            </section>
            <section>
                <span class="icon major fa-book "></span>
                <h3>Book</h3>
                <p>The only thing better having Google at your fingertip, is Google plus a book.</p>
            </section>
            <section>
                <span class="icon major fa-book "></span>
                <h3>Genre</h3>
                <p>Look no further, all your dietary needs in one big shop.</p>
            </section>
            <section>
                <span class="icon major fa-book "></span>
                <h3>Science Fiction</h3>
                <p>Check out a book that will expand your imagination behind your wildest beliefs.</p>
            </section>
        </div>
    </div>
</section>