@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

@model Titanbrary.Common.Models.UserModel

<!-- Dashboard -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>@ViewBag.Title</h1>
        <p>Welcome @Html.DisplayForModel();</p>

        

    </div>
</section>



