@{
    ViewBag.Title = "Managee";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

@model Titanbrary.Common.Models.UserInfoBookModel

<!-- Dashboard -->
<section class="wrapper style3 fade-up">
    <div class="inner">
        <h2>Dashboard</h2>
        <div class="features">
            <section>
                <span class="icon major fa-hashtag "></span>
                <h3>Current Order</h3>
                <p>123</p>
            </section>
            <section>
                <span class="icon major fa-clock-o"></span>
                <h3>Wait List</h3>
                <ul>
                    <li>John Doe</li>
                    <li>Jane Doe</li>
                </ul>
            </section>
            <section>
                <span class="icon major fa-hashtag "></span>
                <h3>Books</h3>
                <p>50</p>
            </section>
            <section>
                <span class="icon major fa-book "></span>
                <h3>Genre</h3>
                <p>14</p>
            </section>
        </div>
    </div>
</section>